.App {
  text-align: center;
  border: 2px solid black;
  background-color: #36384c;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.mainSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 800px) {
  .App {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }

  .friendsSection {
    background-color: rgb(242, 242, 242);
    height: 100%;
    overflow-y: scroll;
    justify-content: center;
    text-align: center;
  }

  .mainSection {
    width: 100%;
  }
}
