.Friend {
  display: flex;
  gap: 20px;
}

.Friend img {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
  background-color: #36384c;
}

.Friend__text {
  color: whitesmoke;
}
