@import url("https://fonts.googleapis.com/css2?family=Anton&family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
html,
body {
  background-color: rgb(188, 168, 171);
  margin: 0;
}

.maintitle {
  color: rgb(72, 50, 49);
  font-family: "Anton", sans-serif;
  font-size: 2rem;
  text-align: center;
}
.menu {
  font-size: 1rem;
  border-bottom: 2px solid rgb(72, 50, 49);
}
a {
  text-decoration: none;
  color: rgb(72, 50, 49);
}
.menu ul {
  transform: translate(-1.5%, 0%);
  color: rgb(72, 50, 49);
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 60px;
  flex-wrap: wrap;
}

.menu li:hover {
  transform: scale(1.2);
  cursor: pointer;
}

main {
  position: relative;
  text-align: center;
}
main img {
  width: 100%;
  height: auto;
  object-fit: cover;
  opacity: 0.7;
}
.herotext {
  color: rgb(72, 50, 49);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
span {
  color: rgb(69, 92, 119);
  text-align: center;
  display: flex;
  justify-content: center;
  transition: 1sec;
}
span:hover {
  transform: scale(1.4);
}

.card {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding-top: 0%;
  margin: 0%;
}
.card__cont {
  font-family: "Montserrat", sans-serif;
  color: rgb(69, 92, 119);
  border-radius: 7px;
  background-color: rgb(181, 145, 106);
  padding: 0 30px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: 1sec;
}
.card__cont:hover {
  transform: scale(1.1);
  border: 2px solid rgb(72, 50, 49);
}

.heroes {
  border: 2px solid green;
}
footer {
  background-color: rgb(72, 50, 49);
  display: flex;
  justify-content: space-between;
  padding: 40px;
  align-items: center;
  justify-content: center;
}

.contacts {
  font-size: 1.4rem;
}
.social ul {
  color: rgb(69, 92, 119);
  font-family: "Montserrat", sans-serif;
  list-style-type: none;
  justify-content: space-around;
  display: flex;
  transform: translate(-5%, 0%);
}
.social li:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.btn {
  font-family: "Montserrat", sans-serif;
  background-color: rgb(181, 145, 106);
  border-radius: 10px;
  font-size: 30px;
  display: flex;
  justify-content: center;
  text-align: center;
  color: rgb(69, 92, 119);
  transform: translate(9%, 0%);
}
